<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>This is where the inventory data is shown</p>
    <p><a href="{% url 'app:add-product' %}">Add product</a></p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    <!-- Form goes here -->
</body>
</html>